[Desktop Entry]
Name=DockLight
Name[am]=DockLight
Name[ar]=DockLight
Name[be]=DockLight
Name[bg]=DockLight
Name[br]=DockLight
Name[ca]=DockLight
Name[ca@valencia]=DockLight
Name[cs]=DockLight
Name[cy]=DockLight
Name[da]=DockLight
Name[de]=DockLight
Name[el]=DockLight
Name[eo]=DockLight
Name[es]=DockLight
Name[et]=DockLight
Name[eu]=DockLight
Name[fa]=DockLight
Name[fi]=DockLight
Name[fr]=DockLight
Name[fr_CA]=DockLight
Name[he]=DockLight
Name[hi]=DockLight
Name[hr]=DockLight
Name[hu]=DockLight
Name[id]=DockLight
Name[is]=DockLight
Name[it]=DockLight
Name[ja]=DockLight
Name[kab]=DockLight
Name[ko]=DockLight
Name[la]=DockLight
Name[lt]=DockLight
Name[ms]=DockLight
Name[nb]=DockLight
Name[nl]=DockLight
Name[oc]=DockLight
Name[pl]=DockLight
Name[pt]=DockLight
Name[pt_BR]=DockLight
Name[ro]=DockLight
Name[ru]=DockLight
Name[sk]=DockLight
Name[sl]=DockLight
Name[sr]=DockLight
Name[sr@latin]=DockLight
Name[sv]=DockLight
Name[th]=DockLight
Name[to]=DockLight
Name[tr]=DockLight
Name[uk]=DockLight
Name[uz]=DockLight
Name[vi]=DockLight
Name[zh]=DockLight
Name[zh_CN]=DockLight
Name[zh_HK]=DockLight
Name[zh_TW]=DockLight
GenericName=Dock
Comment=Lightweight application dock with window previews
Comment[am]=ቀላል ክብደት ያለው መተግበሪያ መትከያ ከመስኮት ቅድመ እይታዎች ጋር
Comment[ar]=رصيف تطبيق خفيف الوزن مع معاينات النافذة
Comment[be]=Лёгкая док-станцыя прыкладання з папярэднім праглядам вокнаў
Comment[bg]=Олекотен док за приложения с визуализация на прозореца
Comment[br]=Dock arloadoù skañv gant rakweledennoù prenestr
Comment[ca]=Dock d'aplicacions lleuger amb visualitzacions prèvies de finestres
Comment[ca@valencia]=Dock d'aplicacions lleuger amb visualitzacions prèvies de finestres
Comment[cs]=Lehký aplikační dok s náhledy oken
Comment[cy]=Doc cais ysgafn gyda rhagolygon ffenestr
Comment[da]=Letvægts applikationsdockingstation med vindueseksempler
Comment[de]=Leichtes Anwendungsdock mit Fenstervorschauen
Comment[el]=Ελαφριά βάση εφαρμογών με προεπισκοπήσεις παραθύρων
Comment[en_GB]=Lightweight application dock with window previews
Comment[eo]=Malpeza aplikaĵa doko kun fenestraj antaŭrigardoj
Comment[es]=Dock de aplicaciones ligero con vistas previas de ventanas
Comment[et]=Kerge rakendusdokk koos akna eelvaatega
Comment[eu]=Aplikazio arina leiho aurrebistarekin
Comment[fa]=داک نرم افزار سبک وزن با پیش نمایش پنجره
Comment[fi]=Kevyt sovellustelakka ikkunan esikatseluilla
Comment[fr]=Dock d'application léger avec aperçus des fenêtres
Comment[fr_CA]=Dock d'application léger avec aperçus des fenêtres
Comment[he]=רציף יישומים קל משקל עם תצוגות מקדימות של חלון
Comment[hi]=विंडो पूर्वावलोकन के साथ हल्के एप्लिकेशन डॉक
Comment[hr]=Lagano podnožje za aplikacije s pregledima prozora
Comment[hu]=Könnyű alkalmazásdokkoló ablak előnézetekkel
Comment[ia]=Dock de applicationes legier con vistas preliminar de fenestras
Comment[id]=Dock aplikasi ringan dengan pratinjau jendela
Comment[ie]=Dock levi de applicationes con prevision de fenestres
Comment[is]=Létt forritabryggja með forskoðun glugga
Comment[it]=Dock per applicazioni leggero con anteprime delle finestre
Comment[ja]=ウィンドウプレビュー付きの軽量アプリケーションドック
Comment[ka]=მსუბუქი აპლიკაციის დოკი ფანჯრის გადახედვით
Comment[kab]=Dock n yisnasen afessas s tmuɣliwin n yisfuyla
Comment[ko]=창 미리보기가 포함된 경량 애플리케이션 도크
Comment[la]=Leve applicationem gregem per fenestram Praevius
Comment[lt]=Lengvas programų dokas su lango peržiūromis
Comment[mo]=Dock de aplicație ușor cu previzualizări ale ferestrelor
Comment[ms]=Dok aplikasi ringan dengan pratonton tetingkap
Comment[nb]=Lett applikasjonsdokkingstasjon med forhåndsvisninger av vinduer
Comment[nl]=Lichtgewicht toepassingendock met venstervoorbeelden
Comment[oc]=Dock d'aplicacion leugièr amb d'apercebuts de fenèstra
Comment[pl]=Lekka stacja dokująca aplikacji z podglądem okien
Comment[pt]=Dock de aplicações leve com antevisões das janelas
Comment[pt_BR]=Dock de aplicativos leve com visualizações de janelas
Comment[ro]=Dock de aplicație ușor cu previzualizări ale ferestrelor
Comment[ru]=Легкая док-станция для приложений с предварительным просмотром окон
Comment[sk]=Ľahký aplikačný dok s náhľadmi okien
Comment[sl]=Lahek programski priklop s predogledom oken
Comment[sr]=Лагана станица за апликације са прегледима прозора
Comment[sr@latin]=Lagana aplikaciona traka sa pregledima prozora
Comment[sv]=Lätt applikationsdocka med fönsterförhandsvisningar
Comment[th]=แท่นวางแอปพลิเคชันน้ำหนักเบาพร้อมการแสดงตัวอย่างหน้าต่าง
Comment[to]=Ma'ama'a 'a e taulanga 'o e polokalama mo e ngaahi tomu'a vakai'i 'o e matapa
Comment[tr]=Pencere önizlemelerine sahip hafif uygulama yuvası
Comment[uk]=Легка док-станція програми з попереднім переглядом вікон
Comment[uz]=Oynani oldindan ko'rishga ega engil ilovalar dok
Comment[vi]=Dock ứng dụng nhẹ với tính năng xem trước cửa sổ
Comment[zh]=带有窗口预览的轻量级应用程序坞
Comment[zh_CN]=带有窗口预览的轻量级应用程序坞
Comment[zh_HK]=輕量級應用程式 Dock，支援視窗預覽
Comment[zh_TW]=輕量級應用程式 Dock，支援視窗預覽
Exec=/usr/local/bin/docklight6
Icon=docklight.home
Type=Application
Terminal=false
StartupNotify=false
Categories=Utility;
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
X-KDE-Wayland-Interfaces=zkde_screencast_unstable_v1
